{
  "swagger": "2.0",
  "info": {
    "title": "TI_JOBS",
    "version": "v1"
  },
  "host": "parseapi.back4app.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/login": {
      "post": {
        "tags": [
          "Login"
        ],
        "description": "Criar Login",
        "summary": "Criar Login",
        "operationId": "post-login",
        "parameters": [
          {
            "in": "body",
            "name": "RequestBody",
            "schema": {
              "$ref": "#/definitions/LoginRequest"
            }
          },
          {
            "in": "header",
            "name": "X-Parse-Application-Id",
            "description": "Application-Id do BackEnd",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Parse-REST-API-Key",
            "description": "REST-API-Key do BackEnd",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/SucessoResponse"
            },
            "examples": {
              "application/json": {
                "status": "Sucesso",
                "mensagem": "Login criado com sucesso"
              }
            }
          },
          "400": {
            "description": "Requisicao invalida.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          },
          "401": {
            "description": "Acesso negado devido a X-Parse-REST-API-Key ou X-Parse-REST-API-Key invalida.",
            "schema": {
              "$ref": "#/definitions/Erro401Response"
            }
          },
          "404": {
            "description": "Pagina não encontrado.",
            "schema": {
              "$ref": "#/definitions/Erro404Response"
            }
          },
          "409": {
            "description": "O idLinkedIn já existe na tabela login.",
            "schema": {
              "$ref": "#/definitions/Erro409Response"
            }
          },
          "500": {
            "description": "Erro interno no servidor.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          }
        }
      }
    },
    "/login/{idLinkedIn}": {
      "get": {
        "tags": [
          "Login"
        ],
        "summary": "Consultar Login por idLinkedIn",
        "description": "Consultar Login por idLinkedIn",
        "operationId": "get-login-idLinkedIn",
        "parameters": [
          {
            "in": "path",
            "name": "idLinkedIn",
            "description": "idLinkedIn Do Usuario",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Parse-Application-Id",
            "description": "Application-Id do BackEnd",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Parse-REST-API-Key",
            "description": "REST-API-Key do BackEnd",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            }
          },
          "400": {
            "description": "Requisicao invalida.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          },
          "401": {
            "description": "Acesso negado devido a X-Parse-REST-API-Key ou X-Parse-REST-API-Key invalida.",
            "schema": {
              "$ref": "#/definitions/Erro401Response"
            }
          },
          "404": {
            "description": "Pagina não encontrado.",
            "schema": {
              "$ref": "#/definitions/Erro404Response"
            }
          },
          "500": {
            "description": "Erro interno no servidor.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Login"
        ],
        "summary": "Alterar Login por idLinkedIn",
        "description": "Alterar Login por idLinkedIn",
        "operationId": "put-login",
        "parameters": [
          {
            "in": "path",
            "name": "idLinkedIn",
            "description": "idLinkedIn Do Usuario",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "RequestBody",
            "schema": {
              "$ref": "#/definitions/UsuarioRequest"
            }
          },
          {
            "in": "header",
            "name": "X-Parse-Application-Id",
            "description": "Application-Id do BackEnd",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Parse-REST-API-Key",
            "description": "REST-API-Key do BackEnd",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/SucessoResponse"
            },
            "examples": {
              "application/json": {
                "status": "Sucesso",
                "mensagem": "Login Alterado com Sucesso"
              }
            }
          },
          "400": {
            "description": "Requisicao invalida.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          },
          "401": {
            "description": "Acesso negado devido a X-Parse-REST-API-Key ou X-Parse-REST-API-Key invalida.",
            "schema": {
              "$ref": "#/definitions/Erro401Response"
            }
          },
          "404": {
            "description": "Pagina não encontrado.",
            "schema": {
              "$ref": "#/definitions/Erro404Response"
            }
          },
          "500": {
            "description": "Erro interno no servidor.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Login"
        ],
        "summary": "Deletar Login por idLinkedIn",
        "description": "Deletar Login por idLinkedIn",
        "operationId": "delete-login-idLinkedIn",
        "parameters": [
          {
            "in": "path",
            "name": "idLinkedIn",
            "description": "idLinkedIn Do Usuario",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Parse-Application-Id",
            "description": "Application-Id do BackEnd",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Parse-REST-API-Key",
            "description": "REST-API-Key do BackEnd",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/SucessoResponse"
            },
            "examples": {
              "application/json": {
                "status": "Sucesso",
                "mensagem": "Login Deletado com Sucesso"
              }
            }
          },
          "400": {
            "description": "Requisicao invalida.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          },
          "401": {
            "description": "Acesso negado devido a X-Parse-REST-API-Key ou X-Parse-REST-API-Key invalida.",
            "schema": {
              "$ref": "#/definitions/Erro401Response"
            }
          },
          "404": {
            "description": "Pagina não encontrado.",
            "schema": {
              "$ref": "#/definitions/Erro404Response"
            }
          },
          "500": {
            "description": "Erro interno no servidor.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          }
        }
      }
    },
    "/usuario": {
      "post": {
        "tags": [
          "Usuario"
        ],
        "description": "Criar Usuario",
        "summary": "Criar Usuario",
        "operationId": "post-usuario",
        "parameters": [
          {
            "in": "body",
            "name": "RequestBody",
            "schema": {
              "$ref": "#/definitions/UsuarioRequest"
            }
          },
          {
            "in": "header",
            "name": "X-Parse-Application-Id",
            "description": "Application-Id do BackEnd",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Parse-REST-API-Key",
            "description": "REST-API-Key do BackEnd",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/SucessoResponse"
            },
            "examples": {
              "application/json": {
                "status": "Sucesso",
                "mensagem": "Usuario Criado com Sucesso"
              }
            }
          },
          "400": {
            "description": "Requisicao invalida.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          },
          "401": {
            "description": "Acesso negado devido a X-Parse-REST-API-Key ou X-Parse-REST-API-Key invalida.",
            "schema": {
              "$ref": "#/definitions/Erro401Response"
            }
          },
          "404": {
            "description": "Pagina não encontrado.",
            "schema": {
              "$ref": "#/definitions/Erro404Response"
            }
          },
          "500": {
            "description": "Erro interno no servidor.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Usuario"
        ],
        "summary": "Consultar Usuario (NAO FINALIZADO)",
        "description": "Consultar Dados do Usuario",
        "operationId": "get-usuario",
        "parameters": [
          {
            "in": "query",
            "name": "nome",
            "description": "Nome Do Usuario",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "sobrenome",
            "description": "Sobrenome Do Usuario",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "idade",
            "description": "idade Do Usuario",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "pais",
            "description": "Pais Do Usuario",
            "required": false,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Parse-Application-Id",
            "description": "Application-Id do BackEnd",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Parse-REST-API-Key",
            "description": "REST-API-Key do BackEnd",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/UsuarioResponse"
            }
          },
          "400": {
            "description": "Requisicao invalida.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          },
          "401": {
            "description": "Acesso negado devido a X-Parse-REST-API-Key ou X-Parse-REST-API-Key invalida.",
            "schema": {
              "$ref": "#/definitions/Erro401Response"
            }
          },
          "404": {
            "description": "Pagina não encontrado.",
            "schema": {
              "$ref": "#/definitions/Erro404Response"
            }
          },
          "500": {
            "description": "Erro interno no servidor.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          }
        }
      }
    },
    "/usuario/{id}": {
      "get": {
        "tags": [
          "Usuario"
        ],
        "summary": "Consultar Usuario por Id",
        "description": "Consultar Dados do Usuario pelo ID",
        "operationId": "get-usuario-id",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Id Do Usuario",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Parse-Application-Id",
            "description": "Application-Id do BackEnd",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Parse-REST-API-Key",
            "description": "REST-API-Key do BackEnd",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/UsuarioResponse"
            }
          },
          "400": {
            "description": "Requisicao invalida.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          },
          "401": {
            "description": "Acesso negado devido a X-Parse-REST-API-Key ou X-Parse-REST-API-Key invalida.",
            "schema": {
              "$ref": "#/definitions/Erro401Response"
            }
          },
          "404": {
            "description": "Pagina não encontrado.",
            "schema": {
              "$ref": "#/definitions/Erro404Response"
            }
          },
          "500": {
            "description": "Erro interno no servidor.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Usuario"
        ],
        "summary": "Alterar Usuario",
        "description": "Alterar Dados do Usuario",
        "operationId": "put-usuario",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Id Do Usuario",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "RequestBody",
            "schema": {
              "$ref": "#/definitions/UsuarioRequest"
            }
          },
          {
            "in": "header",
            "name": "X-Parse-Application-Id",
            "description": "Application-Id do BackEnd",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Parse-REST-API-Key",
            "description": "REST-API-Key do BackEnd",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/SucessoResponse"
            },
            "examples": {
              "application/json": {
                "status": "Sucesso",
                "mensagem": "Usuario Alterado com Sucesso"
              }
            }
          },
          "400": {
            "description": "Requisicao invalida.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          },
          "401": {
            "description": "Acesso negado devido a X-Parse-REST-API-Key ou X-Parse-REST-API-Key invalida.",
            "schema": {
              "$ref": "#/definitions/Erro401Response"
            }
          },
          "404": {
            "description": "Pagina não encontrado.",
            "schema": {
              "$ref": "#/definitions/Erro404Response"
            }
          },
          "500": {
            "description": "Erro interno no servidor.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Usuario"
        ],
        "summary": "Deletar Usuario por Id",
        "description": "Deletar o Usuario pelo ID",
        "operationId": "delete-usuario-id",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Id Do Usuario",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Parse-Application-Id",
            "description": "Application-Id do BackEnd",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Parse-REST-API-Key",
            "description": "REST-API-Key do BackEnd",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/SucessoResponse"
            },
            "examples": {
              "application/json": {
                "status": "Sucesso",
                "mensagem": "Usuario Deletado com Sucesso"
              }
            }
          },
          "400": {
            "description": "Requisicao invalida.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          },
          "401": {
            "description": "Acesso negado devido a X-Parse-REST-API-Key ou X-Parse-REST-API-Key invalida.",
            "schema": {
              "$ref": "#/definitions/Erro401Response"
            }
          },
          "404": {
            "description": "Pagina não encontrado.",
            "schema": {
              "$ref": "#/definitions/Erro404Response"
            }
          },
          "500": {
            "description": "Erro interno no servidor.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          }
        }
      }
    },
    "/empresa": {
      "post": {
        "tags": [
          "Empresa"
        ],
        "description": "Criar Empresa (NÃO FINALIZADO)",
        "summary": "Criar Empresa (NÃO FINALIZADO)",
        "operationId": "post-empresa",
        "parameters": [
          {
            "in": "body",
            "name": "RequestBody",
            "schema": {
              "$ref": "#/definitions/EmpresaRequest"
            }
          },
          {
            "in": "header",
            "name": "X-Parse-Application-Id",
            "description": "Application-Id do BackEnd",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Parse-REST-API-Key",
            "description": "REST-API-Key do BackEnd",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/SucessoResponse"
            },
            "examples": {
              "application/json": {
                "status": "Sucesso",
                "mensagem": "Empresa Criada com Sucesso"
              }
            }
          },
          "400": {
            "description": "Requisicao invalida.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          },
          "401": {
            "description": "Acesso negado devido a X-Parse-REST-API-Key ou X-Parse-REST-API-Key invalida.",
            "schema": {
              "$ref": "#/definitions/Erro401Response"
            }
          },
          "404": {
            "description": "Pagina não encontrado.",
            "schema": {
              "$ref": "#/definitions/Erro404Response"
            }
          },
          "500": {
            "description": "Erro interno no servidor.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Empresa"
        ],
        "summary": "Consultar Empresa (NAO FINALIZADO)",
        "description": "Consultar Dados da Empresa (NÃO FINALIZADO)",
        "operationId": "get-empresa",
        "parameters": [
          {
            "in": "query",
            "name": "nome",
            "description": "Nome Do Empresa",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "razaoSocial",
            "description": "Razão Social Da Empresa",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "cnpj",
            "description": "CNPJ Da Empresa",
            "required": false,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Parse-Application-Id",
            "description": "Application-Id do BackEnd",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Parse-REST-API-Key",
            "description": "REST-API-Key do BackEnd",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/EmpresaResponse"
            }
          },
          "400": {
            "description": "Requisicao invalida.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          },
          "401": {
            "description": "Acesso negado devido a X-Parse-REST-API-Key ou X-Parse-REST-API-Key invalida.",
            "schema": {
              "$ref": "#/definitions/Erro401Response"
            }
          },
          "404": {
            "description": "Pagina não encontrado.",
            "schema": {
              "$ref": "#/definitions/Erro404Response"
            }
          },
          "500": {
            "description": "Erro interno no servidor.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          }
        }
      }
    },
    "/empresa/{id}": {
      "get": {
        "tags": [
          "Empresa"
        ],
        "summary": "Consultar Empresa por Id (NÃO FINALIZADO)",
        "description": "Consultar Dados da Empresa pelo ID (NÃO FINALIZADO)",
        "operationId": "get-empresa-id",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Id Da Empresa",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Parse-Application-Id",
            "description": "Application-Id do BackEnd",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Parse-REST-API-Key",
            "description": "REST-API-Key do BackEnd",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/EmpresaResponse"
            }
          },
          "400": {
            "description": "Requisicao invalida.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          },
          "401": {
            "description": "Acesso negado devido a X-Parse-REST-API-Key ou X-Parse-REST-API-Key invalida.",
            "schema": {
              "$ref": "#/definitions/Erro401Response"
            }
          },
          "404": {
            "description": "Pagina não encontrado.",
            "schema": {
              "$ref": "#/definitions/Erro404Response"
            }
          },
          "500": {
            "description": "Erro interno no servidor.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Empresa"
        ],
        "summary": "Alterar Empresa (NÃO FINALIZADO)",
        "description": "Alterar Dados do Empresa (NÃO FINALIZADO)",
        "operationId": "put-empresa",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Id Do Usuario",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "RequestBody",
            "schema": {
              "$ref": "#/definitions/EmpresaRequest"
            }
          },
          {
            "in": "header",
            "name": "X-Parse-Application-Id",
            "description": "Application-Id do BackEnd",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Parse-REST-API-Key",
            "description": "REST-API-Key do BackEnd",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/SucessoResponse"
            },
            "examples": {
              "application/json": {
                "status": "Sucesso",
                "mensagem": "Empresa Alterada com Sucesso"
              }
            }
          },
          "400": {
            "description": "Requisicao invalida.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          },
          "401": {
            "description": "Acesso negado devido a X-Parse-REST-API-Key ou X-Parse-REST-API-Key invalida.",
            "schema": {
              "$ref": "#/definitions/Erro401Response"
            }
          },
          "404": {
            "description": "Pagina não encontrado.",
            "schema": {
              "$ref": "#/definitions/Erro404Response"
            }
          },
          "500": {
            "description": "Erro interno no servidor.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Empresa"
        ],
        "summary": "Deletar Empresa por Id (NÃO FINALIZADO)",
        "description": "Deletar o Empresa pelo ID (NÃO FINALIZADO)",
        "operationId": "delete-empresa-id",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Id Da Empresa",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Parse-Application-Id",
            "description": "Application-Id do BackEnd",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Parse-REST-API-Key",
            "description": "REST-API-Key do BackEnd",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/SucessoResponse"
            },
            "examples": {
              "application/json": {
                "status": "Sucesso",
                "mensagem": "Empresa Deletada com Sucesso"
              }
            }
          },
          "400": {
            "description": "Requisicao invalida.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          },
          "401": {
            "description": "Acesso negado devido a X-Parse-REST-API-Key ou X-Parse-REST-API-Key invalida.",
            "schema": {
              "$ref": "#/definitions/Erro401Response"
            }
          },
          "404": {
            "description": "Pagina não encontrado.",
            "schema": {
              "$ref": "#/definitions/Erro404Response"
            }
          },
          "500": {
            "description": "Erro interno no servidor.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          }
        }
      }
    },
    "/vaga": {
      "post": {
        "tags": [
          "Vaga"
        ],
        "description": "Criar Vaga",
        "summary": "Criar Vaga (NAO FINALIZADO)",
        "operationId": "post-vaga",
        "parameters": [
          {
            "in": "body",
            "name": "RequestBody",
            "schema": {
              "$ref": "#/definitions/UsuarioRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/SucessoResponse"
            },
            "examples": {
              "application/json": {
                "status": "Sucesso",
                "mensagem": "Usuario Criado com Sucesso"
              }
            }
          },
          "400": {
            "description": "Requisicao invalida.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          },
          "401": {
            "description": "Acesso negado devido a X-Parse-REST-API-Key ou X-Parse-REST-API-Key invalida.",
            "schema": {
              "$ref": "#/definitions/Erro401Response"
            }
          },
          "404": {
            "description": "Pagina não encontrado.",
            "schema": {
              "$ref": "#/definitions/Erro404Response"
            }
          },
          "500": {
            "description": "Erro interno no servidor.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Vaga"
        ],
        "summary": "Alterar Vaga (NAO FINALIZADO)",
        "description": "Alterar Dados da Vaga",
        "operationId": "put-vaga",
        "parameters": [
          {
            "in": "body",
            "name": "RequestBody",
            "schema": {
              "$ref": "#/definitions/UsuarioRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/SucessoResponse"
            },
            "examples": {
              "application/json": {
                "status": "Sucesso",
                "mensagem": "Usuario Alterado com Sucesso"
              }
            }
          },
          "400": {
            "description": "Requisicao invalida.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          },
          "401": {
            "description": "Acesso negado devido a X-Parse-REST-API-Key ou X-Parse-REST-API-Key invalida.",
            "schema": {
              "$ref": "#/definitions/Erro401Response"
            }
          },
          "404": {
            "description": "Pagina não encontrado.",
            "schema": {
              "$ref": "#/definitions/Erro404Response"
            }
          },
          "500": {
            "description": "Erro interno no servidor.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Vaga"
        ],
        "summary": "Consultar Vaga (NAO FINALIZADO)",
        "description": "Consultar Dados da Vaga",
        "operationId": "get-vaga",
        "parameters": [
          {
            "in": "query",
            "name": "nome",
            "description": "Nome Do Usuario",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "sobrenome",
            "description": "Sobrenome Do Usuario",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "idade",
            "description": "idade Do Usuario",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "pais",
            "description": "Pais Do Usuario",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/UsuarioResponse"
            }
          },
          "400": {
            "description": "Requisicao invalida.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          },
          "401": {
            "description": "Acesso negado devido a X-Parse-REST-API-Key ou X-Parse-REST-API-Key invalida.",
            "schema": {
              "$ref": "#/definitions/Erro401Response"
            }
          },
          "404": {
            "description": "Pagina não encontrado.",
            "schema": {
              "$ref": "#/definitions/Erro404Response"
            }
          },
          "500": {
            "description": "Erro interno no servidor.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          }
        }
      }
    },
    "/vaga/{id}": {
      "get": {
        "tags": [
          "Vaga"
        ],
        "summary": "Consultar Vaga por Id (NAO FINALIZADO)",
        "description": "Consultar Dados da Vaga pelo ID",
        "operationId": "get-vaga-id",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Id Do Usuario",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/UsuarioResponse"
            }
          },
          "400": {
            "description": "Requisicao invalida.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          },
          "401": {
            "description": "Acesso negado devido a X-Parse-REST-API-Key ou X-Parse-REST-API-Key invalida.",
            "schema": {
              "$ref": "#/definitions/Erro401Response"
            }
          },
          "404": {
            "description": "Pagina não encontrado.",
            "schema": {
              "$ref": "#/definitions/Erro404Response"
            }
          },
          "500": {
            "description": "Erro interno no servidor.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Vaga"
        ],
        "summary": "Deletar Vaga por Id (NAO FINALIZADO)",
        "description": "Deletar a Vaga pelo ID",
        "operationId": "delete-vaga-id",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Id Do Usuario",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/SucessoResponse"
            },
            "examples": {
              "application/json": {
                "status": "Sucesso",
                "mensagem": "Usuario Deletado com Sucesso"
              }
            }
          },
          "400": {
            "description": "Requisicao invalida.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          },
          "401": {
            "description": "Acesso negado devido a X-Parse-REST-API-Key ou X-Parse-REST-API-Key invalida.",
            "schema": {
              "$ref": "#/definitions/Erro401Response"
            }
          },
          "404": {
            "description": "Pagina não encontrado.",
            "schema": {
              "$ref": "#/definitions/Erro404Response"
            }
          },
          "500": {
            "description": "Erro interno no servidor.",
            "schema": {
              "$ref": "#/definitions/ErroResponse"
            },
            "examples": {
              "application/json": {
                "status": "Erro",
                "mensagem": "Alguma mensagem de erro"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "LoginRequest": {
      "type": "object",
      "required": [
        "idLinkedIn",
        "nome",
        "sobrenome",
        "foto"
      ],
      "properties": {
        "idLinkedIn": {
          "type": "string",
          "description": "idLinkedIn do Usuario"
        },
        "nome": {
          "type": "string",
          "description": "Nome do Usuario"
        },
        "sobrenome": {
          "type": "string",
          "description": "Sobrenome do Usuario"
        },
        "foto": {
          "type": "string",
          "description": "Foto do Usuario"
        }
      }
    },
    "LoginResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "Campo para dizer o status for sucesso"
        },
        "data": {
          "type": "object",
          "properties": {
            "idLinkedIn": {
              "type": "integer",
              "description": "ID do Usuario no Banco de Dados"
            },
            "nome": {
              "type": "string",
              "description": "Nome do Usuario"
            },
            "sobrenome": {
              "type": "string",
              "description": "Nome do Usuario"
            },
            "foto": {
              "type": "string",
              "description": "Nome do Usuario"
            }
          }
        }
      }
    },
    "UsuarioRequest": {
      "type": "object",
      "required": [
        "nome",
        "sobrenome",
        "idade",
        "endereco"
      ],
      "properties": {
        "nome": {
          "type": "string",
          "description": "Nome do Usuario"
        },
        "sobrenome": {
          "type": "string",
          "description": "Sobrenome do Usuario"
        },
        "idade": {
          "type": "integer",
          "description": "Idade do Usuario"
        },
        "endereco": {
          "type": "object",
          "required": [
            "logradouro",
            "municipio",
            "estado",
            "pais"
          ],
          "properties": {
            "logradouro": {
              "type": "string",
              "description": "Logradouro do Usuario (rua, avenida, ...)"
            },
            "municipio": {
              "type": "string",
              "description": "Municipio do Usuario"
            },
            "estado": {
              "type": "string",
              "description": "Estado do Usuario"
            },
            "pais": {
              "type": "string",
              "description": "Pais do Usuario"
            }
          }
        }
      }
    },
    "UsuarioResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "Campo para dizer o status for sucesso"
        },
        "results": {
          "type": "array",
          "items": {
            "properties": {
              "id": {
                "type": "integer",
                "description": "ID do Usuario no Banco de Dados"
              },
              "nome": {
                "type": "string",
                "description": "Nome do Usuario"
              },
              "sobrenome": {
                "type": "string",
                "description": "Sobrenome do Usuario"
              },
              "pais": {
                "type": "string",
                "description": "Pais do Usuario"
              },
              "municipio": {
                "type": "string",
                "description": "Municipio do Usuario"
              },
              "estado": {
                "type": "string",
                "description": "Estado do Usuario"
              },
              "idade": {
                "type": "integer",
                "description": "Idade do Usuario"
              },
              "logradouro": {
                "type": "string",
                "description": "Logradouro do Usuario (rua, avenida, ...)"
              }
            }
          }
        }
      }
    },
    "EmpresaRequest": {
      "type": "object",
      "properties": {
        "nomeEmpresa": {
          "type": "string"
        },
        "razaoSocial": {
          "type": "string"
        },
        "cnpj": {
          "type": "string"
        },
        "endereco": {
          "type": "object",
          "properties": {
            "logradouro": {
              "type": "string"
            },
            "municipio": {
              "type": "string"
            },
            "estado": {
              "type": "string"
            },
            "pais": {
              "type": "string"
            }
          }
        }
      }
    },
    "EmpresaResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string"
        },
        "results": {
          "type": "array",
          "items": {
            "properties": {
              "nomeEmpresa": {
                "type": "string"
              },
              "razaoSocial": {
                "type": "string"
              },
              "cnpj": {
                "type": "string"
              },
              "endereco": {
                "type": "object",
                "properties": {
                  "logradouro": {
                    "type": "string"
                  },
                  "municipio": {
                    "type": "string"
                  },
                  "estado": {
                    "type": "string"
                  },
                  "pais": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "ErroResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string"
        },
        "mensagem": {
          "type": "string"
        }
      }
    },
    "SucessoResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string"
        },
        "mensagem": {
          "type": "string"
        }
      }
    },
    "Erro401Response": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string"
        }
      },
      "example": {
        "error": "unauthorized"
      }
    },
    "Erro404Response": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string"
        },
        "mensagem": {
          "type": "string"
        }
      },
      "example": {
        "status": "Erro",
        "mensagem": "Página não Encontrada"
      }
    },
    "Erro409Response": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string"
        },
        "mensagem": {
          "type": "string"
        }
      },
      "example": {
        "status": "Erro",
        "mensagem": "O idLinkedIn já existe na tabela login."
      }
    }
  }
}